<h1>angular-template form</h1>
<!-- 

<form [formGroup]='myform'>
  
    <input type="text" formControlName="name" required >
    <input type="text" formControlName="lastname" required>
  
</form>
<p>{{ myform.status | json}}</p> -->

<form [formGroup]="myform" (ngSubmit)="onsubmit()">
    <label for="name">Name: </label>
    <input id="name" formControlName="name">
    <label for="email">Email: </label>
    <input id="email" formControlName="email">
    <div class="row" *ngFor="let phone of myform.get('phones').controls; let i = index">
        <input type="text" [formControlName]="i">

    </div>
   
    <button (dblclick)="addPhone()">add phone</button>
    <button type="submit" [disabled]="!myform.valid">submit</button>
</form>
<pre>{{myform.value | json}}</pre>